.idea
/battery-management-system/.idea
/battery-management-system/.gradle
/web/node_modules
/battery-management-system/.gradle
/battery-management-system/build
/battery-management-system/.idea
/battery-management-system/.kotlin